@page
@model FIOD.Pages.DeleteModel
@{
    ViewData["Title"] = "Delete page";
}

<form method="post">
  <div>
    <label>Enter id for delete account: </label>
    <input asp-for ="id" type = "number" value="" required />
  </div>
  <div>
    <input type="submit" value="Delete!" />
  </div>
</form>