@page "{Id?}"
@model FIOD.Pages.userModel
@{
    ViewData["Title"] = "User";
}
@if (Model.id == null)
{
    <form method="post">
    <div>
        <label>Enter ID users: </label>
        <input asp-for = "id" type = "number" required />
    </div>
    <div>
        <input type="submit" value="Find!" />
    </div>
</form>
}
@if (Model.Account != null)
{
    <p><b>ID:</b> @Model.Account.Id</p>
    <p><b>FIO:</b> @Model.Account.FIO</p>
    <p><b>Login:</b> @Model.Account.Login</p>
    <p><b>Date Of Birth:</b> @Model.Account.DateOfBirth.ToString("d")</p>
}